@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

.nav-link {
  @apply pr-10 transition-all hover:text-accent hover:duration-1000;
}

.social-icon {
  @apply pl-10;
}
