@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

.nav > * {
  @apply relative px-6 py-6 transition-all duration-300 before:absolute before:bottom-5 before:left-1/2 before:h-[1.5px] before:w-0 before:-translate-x-1/2 before:bg-primary before:transition-all before:duration-300 before:ease-out before:content-[''] hover:text-primary hover:before:w-full;
}

.social-icons > * {
  @apply px-5 py-3;
}
