@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

.nav {
  @apply relative;
}
& > * {
  @apply pr-12 transition-all duration-300 before:absolute before:bottom-0 before:h-1 before:w-full before:bg-primary before:content-['.'] hover:text-primary;
}

.social-icon {
  @apply pl-10;
}
